body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    background-color: #111;
}

hr {
    border-color: #777;
}

#footer {
    text-align: center;
}

.hddn {
    display: none;
}

.moviePlot {
    text-align: justify;
    font-size: 100%;
}

.movieTitle {
   text-shadow: 1px 1px 1px black;
   color: #44f;
}

.movieStaff {
    text-align: justify;
    font-weight: normal;
}

.moviePosition {
    font-weight: bold;
}

li {
    margin: 3px 0px;
}